name: hyperpay_sdk_example
description: Example app demonstrating the hyperpay_sdk Flutter plugin.
publish_to: none

version: 1.0.0

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_dotenv: ^6.0.0
  http: ^1.6.0
  shared_preferences: ^2.3.0
  hyperpay_sdk:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - .env
